@font-face {
  font-family: "Katahdin";
  src: url("../FONTS/KatahdinRound.otf");
}

@font-face {
  font-family: "TeX";
  src:url("../FONTS/texgyreheros-regular.otf");


}

@font-face {
  font-family:"FoughtKnight";
  src: url("../FONTS/FoughtKnight.otf");
}


body {
  background-image: url("../IMG/wallpaper.jpg");
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 100vh;



}

.main-nav {
  width: 100%;
  height: 100px;
  background-color:rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0px;
  left: 0px;
  display: flex;
}

.main-content {
  width: 100%;
  height: 100%;
  position: absolute;
}

.all {
  color: #ffffff;
  width: 700px;
  height: 250px;
  position: absolute;
  top: calc(50% - 125px);
  left:calc(50% - 350px);
}

.all h1 {
  text-align: center;
  font-size:60px;
  text-transform:uppercase;
  font-family: "Katahdin";
  margin-bottom: 30px;


}

.all p {
  font-family: "TeX";
  font-size: 22px;
  text-align: center;
  line-height: 25px;
  margin-bottom: 30px;

}

.darker {
  background-color: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 100%;
  position: absolute;
}

.buttons {
  width: 326px;
  margin: 0px auto 0px;
  display: flex;
  text-align: center;
  text-transform: uppercase;
  font-family: "TeX";
  font-weight: bold;
  font-size: 12px;
}

.firstbutton {
  width: 150px;
  padding: 10px;
  display: block;
  border: 4px solid #ffffff;
  text-decoration: none;
  color: #ffffff;
}

.secondbutton {
  width: 150px;
  padding: 10px;
  display: block;
  margin-left: 10px;
  border: 4px solid #ffffff;
  text-decoration: none;
  background-color: #ffffff;
  color: #000000;


}

.logo {
  width: 64px;
  height: 64px;
  border: 4px solid #ffffff;
  color: #ffffff;
  margin: 18px;
  margin-left: 50px;
  margin-right: 86px;
  display:block;
  text-decoration: none;
  font-family: "FoughtKnight";
  text-align: center;
  padding: 10px;
  box-sizing: border-box;
  line-height:18px;

}

.social {
  width: 200px;
  height: 100%;
  padding:30px 10px;
  display: flex;
  justify-content: center;
  box-sizing: border-box;

}

.nav-items {
  width: calc(100% - 400px);
  display: flex;
  justify-content: center;
}

.nav-items a {
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  display: block;
  height: 100%;
  line-height: 100px;
  vertical-align: middle;
  margin: 0px 15px 0px;
  font-family: "TeX";
  font-weight: bold;

}
.social a {
  color: #ffffff;
  font-size: 20px;
  display: block;
  width: 25px;
  height: 25px;
  text-align: center;
  border-bottom:2px solid #ffffff;
  margin-left: 10px;
  margin-top: 7.5px;

}
